<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <h1>Photo Gallery</h1>
    <img src="https://imagenes.elpais.com/resizer/chKCbCF2vAsg-ocin7kw-Yq97zE=/1200x0/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/BGRBZZZN6LLKZRU6FHJ6DUDI6Y.jpg">
    <img src="https://m.media-amazon.com/images/I/41tcUNpUvQL._AC_SY355_.jpg">
    <img src="https://mis2spoiler.files.wordpress.com/2020/02/15-times-michael-scott-was-all-of-us-graduating-f-2-27639-1442861993-0_dblbig.jpg?w=252&h=167">
    <img src="https://i.pinimg.com/originals/0d/46/17/0d461771cf41accfffe5793816ac6b28.jpg">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Photo Gallery</a></li>
    </ul>
</body>
</html>