<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.jss">
</head>

<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nostrum similique illo rem cum incidunt ratione placeat a esse dolorem tempore alias doloremque possimus totam, magni quidem officia, distinctio numquam!</p>
   
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/team">Team</a></li>
    </ul>
</body>
</html>